<!-- header -->
<%= render 'user_profiles/shared/header' %>

<!-- main -->
<main class="user-main">
  <div class="wrap">
    <div class="user-profile__wrap flex">
      <!-- ユーザープロフィールカード -->
      <%= render 'user_profiles/shared/user_profile_card', { user: @user, user_profile: @user_profile } %>

      <div class="user-list">
        <h2 class="user-list__heading">ユーザーリスト</h2>
        <% if @users.any? %>
        <div class="user-list__inner flex">
          <% @users.each do |user| %>
          <div class="user-list-card">
            <div class="user-list-card__top">
              <span>
                <%= user.user_profile.name %>
              </span>
            </div>
            <figure class="user-list-card__img">
              <% if @user_profile.profile_image? %>
              <%= image_tag @user_profile.profile_image.url %>
              <% else %>
              <%= image_tag 'img_user.webp' %>
              <% end %>
            </figure>
            <div class="user-list-card__bottom">
              <%= link_to user_profiles_path(user), class: 'contents' do %>
              <span>
                ユーザーページへ
              </span>
              <% end %>
            </div>
          </div>
          <% end %>
        </div>
        <% else %>
        <p class="user-list__txt">ユーザーはいません。</p>
        <% end %>
        <%= paginate @users %>
      </div>
    </div>
  </div>
</main>

<!-- footer -->
<%= render 'shared/footer' %>
