<!-- header -->
<%= render 'devise/shared/header'%>

<!-- main -->
<main class="main">
  <div class="wrap">
    <div class="auth-form__wrap">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'auth-form' }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="auth-form__item">
        <%= f.label :email, 'メールアドレス', class: 'auth-form__label' %><br />
        <%= f.email_field :email, autocomplete: "email", class: 'auth-form__text' %>
      </div>

      <div class="auth-form__item">
        <%= f.label :password, 'パスワード', class: 'auth-form__label' %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> 文字以上)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: 'auth-form__text' %>
      </div>

      <div class="auth-form__item">
        <%= f.label :password_confirmation, 'パスワード(確認)', class: 'auth-form__label' %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'auth-form__text' %>
      </div>

      <div class="auth-form__item">
        <%= f.submit "登録", class: 'auth-form__submit' %>
      </div>
      <%= render "devise/shared/links" %>
      <% end %>
    </div>
  </div>
</main>

<!-- footer -->
<%= render 'shared/footer' %>
