<!-- header -->
<%= render 'user_profiles/shared/header' %>

<!-- main -->
<!-- flash message -->
<%= render 'shared/flash_messages' %>

<main class="user-main">
  <div class="wrap">
    <div class="user-profile__wrap flex">
      <!-- ユーザープロフィールカード -->
      <%= render 'user_profiles/shared/user_profile_card', { user: @user, user_profile: @user_profile } %>

      <div class="user-profile-knowhows">
        <h2 class="user-profile-knowhows__heading">ノウハウリスト</h2>
        <!-- 検索フォーム -->
        <%= search_form_for @q, url: knowhows_search_path, class: 'search-form flex' do |search| %>
        <%= search.search_field :title_or_content_gt, class: 'search-form__textfield', placeholder: 'ノウハウをキーワードで検索' %>
        <%= search.submit '', class: 'search-form__submit' %>
        <% end %>

        <% if @knowhows.any? %>
        <div class="user-profile-knowhows__list">
          <% @knowhows.each do |knowhow| %>
          <div class="user-profile-knowhows-card flex">
            <figure class="user-profile-knowhows-card__img">
              <% if @user_profile.profile_image? %>
              <%= image_tag @user_profile.profile_image.url %>
              <% else %>
              <%= image_tag 'img_user.webp' %>
              <% end %>
            </figure>
            <div class="user-profile-knowhows-card__detail flex">
              <span class="category <%= set_class_name(knowhow.category.id) %>">
                <%= knowhow.category.name %>
              </span>
              <h3 class="title"><%= knowhow.title %></h3>
              <p class="content"><%= knowhow.content %></p>
              <p class="date">
                <%= knowhow.user.user_profile.name %>さんが<%= time_ago_in_words(knowhow.created_at) %>前に作成
              </p>
              <% if is_bookmarked(@user.id, knowhow.id) %>
              <figure class="ico" data-id="<%= knowhow.id %>">
                <%= image_tag 'ico_bookmark.webp', title: 'ブックマークする' %>
              </figure>
              <%= form_tag(bookmarks_submit_path, method: :post, id: "bookmarkForm#{knowhow.id}") do %>
              <%= hidden_field_tag :user_id, @user.id %>
              <%= hidden_field_tag :knowhow_id, knowhow.id %>
              <% end %>
              <% else %>
              <figure class="ico" data-id="<%= knowhow.id %>">
                <%= image_tag 'ico_bookmark_orange.webp', title: 'ブックマークを外す' %>
              </figure>
              <%= form_tag(bookmarks_delete_path, method: :delete, id: "bookmarkForm#{knowhow.id}") do %>
              <%= hidden_field_tag :user_id, @user.id %>
              <%= hidden_field_tag :knowhow_id, knowhow.id %>
              <% end %>
              <% end %>
            </div>
          </div>
          <% end %>
          <%= paginate @knowhows %>
        </div>
        <% else %>
        <p class="user-profile-knowhows__txt">まだ投稿したノウハウはありません。</p>
        <% end %>
      </div>
    </div>
  </div>
</main>

<!-- footer -->
<%= render 'shared/footer' %>
