<header class="user-header">
  <div class="wrap">
    <div class="user-header__inner flex">
      <div class="user-header__item flex">
        <%= link_to 'ホーム', user_profiles_path(current_user), class: 'user-header__link home' %>
        <%= link_to current_user.user_profile.name, '#', class: 'user-header__link user' %>
        <!-- dropdown menu -->
        <ul class="user-header-menu inactive">
          <li class="user-header-menu__item">
            <%= link_to 'ノウハウリスト', user_profiles_path(current_user) %>
          </li>
          <li class="user-header-menu__item">
            <%= link_to 'タイムライン', user_profiles_timelines_path %>
          </li>
          <li class="user-header-menu__item">
            <%= link_to 'ユーザーリスト', user_lists_path %>
          </li>
          <li class="user-header-menu__item">
            <%= link_to 'ブックマーク', bookmarks_path %>
          </li>
        </ul>
      </div>
      <div class="user-header__item flex">
        <%= link_to 'アウトプットする', knowhows_create_path, class: 'user-header__link output iframe' %>
        <%= link_to 'ログアウト', destroy_user_session_path, class: 'user-header__link logout' %>
      </div>
    </div>
  </div>
</header>
