<!-- header -->
<header class="header">
  <div class="wrap">
    <div class="header__inner flex">
      <%= link_to root_path, class: 'contents' do %>
      <h1 class="header__logo">
        <%= image_tag 'logo_top.png' %>
      </h1>
      <% end %>
      <div class="header-btns flex">
        <%= link_to '新規登録', '#', class: 'header-btns__btn' %>
        <%= link_to 'ログイン', '#', class: 'header-btns__btn' %>
        <%= link_to 'ゲストログイン', '#', class: 'header-btns__btn' %>
      </div>
    </div>
  </div>
</header>

<!-- main -->
<main class="main">
  main
</main>
