<!-- header -->
<header class="header">
  <div class="wrap">
    <div class="header__inner flex">
      <%= link_to root_path, class: 'contents' do %>
      <h1 class="header__logo">
        <%= image_tag 'logo_site.webp' %>
      </h1>
      <% end %>
      <div class="header-btns flex">
        <%= link_to '新規登録', new_user_registration_path, class: 'header-btns__btn' %>
        <%= link_to 'ログイン', '#', class: 'header-btns__btn' %>
        <%= link_to 'ゲストログイン', '#', class: 'header-btns__btn' %>
      </div>
    </div>
  </div>
</header>

<!-- main -->
<main class="main">
  <div class="top">
    <div class="wrap">
      <div class="top__box flex">
        <div class="top-content flex">
          <h2 class="top-content__heading">情報共有が<br>組織を強くする</h2>
          <p class="top-content__txt">ビジネスをリモートで機能させるには<br>情報共有が大切である。KnowHowは<br>属人的だったノウハウを情報資産として<br>共有するサービスです。</p>
          <%= link_to 'アカウント登録せずに機能を試す', '#', class: 'top-content__btn' %>
        </div>
        <figure class="top__img">
          <%= image_tag 'img_top01.png' %>
        </figure>
      </div>
      <div class="top__box flex reverse">
        <div class="top-content flex">
          <h2 class="top-content__heading">情報資産共有ツール<br>KnowHowとは</h2>
          <p class="top-content__txt">「情報資産の共有」を目的としたサービスです。<br>社内SNSとしても利用できます。</p>
          <%= link_to 'KnowHowを利用したい', new_user_registration_path, class: 'top-content__btn use' %>
        </div>
        <figure class="top__img">
          <%= image_tag 'img_top02.png' %>
        </figure>
      </div>
      <div class="top__card-bundle flex">
        <figure class="top-card">
          <div class="top-card__img-wrap">
            <%= image_tag 'img_top03.png', class: 'top-card__img' %>
          </div>
          <figure class="top-card__heading">ノウハウをアウトプットする</figure>
          <p class="top-card__txt">誰でも簡単にアウトプットできます。下書きとして一時保存することもできます。</p>
        </figure>
        <figure class="top-card">
          <div class="top-card__img-wrap">
            <%= image_tag 'img_top04.png', class: 'top-card__img' %>
          </div>
          <figure class="top-card__heading">ノウハウを検索する</figure>
          <p class="top-card__txt">自分が求めるノウハウを検索することができます。ブックマークをして他の人のノウハウを自分のものにできます。</p>
        </figure>
        <figure class="top-card">
          <div class="top-card__img-wrap">
            <%= image_tag 'img_top05.png', class: 'top-card__img' %>
          </div>
          <figure class="top-card__heading">気になる人をフォローする</figure>
          <p class="top-card__txt">気になる人をフォローすることができます。フォローした人のノウハウはタイムラインに表示されます。</p>
        </figure>
      </div>
    </div>
  </div>
</main>

<!-- footer -->
<%= render 'shared/footer' %>
