<!DOCTYPE html>
<html>

<head>
  <title>PaiKnowHow</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- jquery -->
  <script type="text/javascript" src="http://code.jquery.com/jquery-3.5.1.min.js"></script>

  <%= javascript_importmap_tags %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  <%= stylesheet_link_tag "application.sass", "data-turbo-track": "reload" %>
</head>

<body>
  <% if flash[:notice] %>
  <p class="notice"><%= notice %></p>
  <% end %>

  <% if flash[:alert] %>
  <p class="alert"><%= alert %></p>
  <% end %>

  <%= yield %>
</body>

</html>
